@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    background-color: slategray;
    height: 75vh;
}

#nameInput{
    margin: 2rem auto;
    padding: 0.5rem;
    font-family: 'Source Code Pro', monospace;
}
#checkButton{
    margin: 1rem auto;
    padding: 2.5px;
    font-family: 'Source Code Pro', monospace;
    border-radius: 0.5rem;
    border: 3px solid darkslateblue;
    

}

#outputResult{
    margin: 1rem auto;
    font-family: 'Press Start 2P', cursive;
}